<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
 package="com.wirecard.accept" >
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application>
        <activity
            android:name=".activities.FirmwareUpdateActivity"
            android:configChanges="screenSize|screenLayout|orientation"
            android:screenOrientation="portrait"/>
    </application>
</manifest>