<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wirecard.accept">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/manifest_app_name"
        android:supportsRtl="true">
        <activity
            android:name=".activities.login.LoginActivity"
            android:configChanges="screenSize|screenLayout"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".activities.menu.MenuActivity"
            android:configChanges="screenSize|screenLayout|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.login.WrongAcceptSettingsActivity"
            android:configChanges="screenSize|screenLayout|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.paymentflow.PaymentFlowActivity"
            android:configChanges="screenSize|screenLayout|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.history.TransactionsHistoryActivity"
            android:configChanges="screenSize|screenLayout|orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.amount.ChooseAmountActivity">
        </activity>
        <activity
            android:name=".activities.Tmp"
            android:label="@string/title_activity_tmp"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>